.cosmetic_main {
  margin-top: 30px;
  padding: 200px 0;
  background-color: antiquewhite;
}

@media (max-width: 503px) {
  .cosmetic_main {
    margin-top: 100px;
  }
}

.cardsLayout {
  display: flex;
  margin: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
