.faqs-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 150px;
}

h1,
h2,
p {
  text-align: center;
}

.faq-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;
}

.faq-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .faq-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .faq-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
